#chitietNV {
    display: flex;
    margin: 1em;
}

#img {
    width: 28%;
    border: 1px solid gray;
}

img {
    width: 100%;
}

#content {
    width: 60%;
    padding: 0 1em;
    border: 1px solid gray;
    margin: 0 1em;
    font-size: 1.2em;
}


