#nhanVien {
    border: 1px solid grey;
    width: 150px;
    height: auto;
    margin: 1em;
    display: inline-table;
    text-align: center;
}

#nhanVien:hover {
    box-shadow: 0px 0px 10px 5px red;
    transition: 0.2s;
}

.card-text {
    color: black;
    text-decoration: none;
}


