.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  background-color: blue;
  text-align: center;
  padding: 0.5em;
}

body {
  margin: auto;
  padding: 1em;
  max-width: 1280px;
}

button {
  background-color: white;
  padding: 0.5em 0;
  width: 100%;
  font-size: 1em;
}

#wrapper {
  width: 100%;
}

#content {
  width: 45%;
  margin: 1em;
  float: left;
  text-align: center;
}
 
#staffs {
  border: 1px solid gray;
  padding:0 1em;
}



